---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Omar Facundo</title>
	</head>
	<body>
		<h1>Omar Facundo</h1>
		<img src="https://i.giphy.com/media/8dhw62TiRG0WvhkJth/giphy.webp" alt="">
	</body>
</html>
